<html>
	<head>
		<base href="{{ baseUrl }}">
		<meta charset="UTF-8">
        {% block headertags %}
        {% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles/reset.css">
		<link rel="stylesheet" type="text/css" href="styles/styles.css">
		<link rel="stylesheet" type="text/css" href="styles/responsive.css">
	</head>
	<body>
			<div id="container">
				<div id="content">
					{% block content %}
					{% endblock %}
				</div>

				<div id="sidebar">
					<div class="sidebar-element">
						<a href="{{ baseUrl }}"><img src="{{ theme.photo_url }}"></a>
					</div>
					<div class="sidebar-element">
						<h2>{{ theme.your_name }}</h2>
						<p>{{ theme.description|raw }}</p>
					</div>
				</div>
			</div>
	</body>
</html>