{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ archive.name }}</h1>
    {% for post in archive.postsOfPage(page) %}
        <p>{{ post.date|date('d.m.Y') }} – <a href="{{ baseUrl }}{{ post.filename }}">{{ post.title }}</a></p>
    {% endfor %}
{% endblock %}